<div class="panel panel-default panel-intro">
    <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-cogs"></i> 客服通道管理</h3></div>
    <div class="panel-body">
        <div class="alert alert-info">配置默认客服入口的名称、滚动公告、宣传图片和玩法介绍。</div>
        <div id="channelList">
            {volist name="channels" id="channel"}
            {if in_array($channel['code'], ['general','wanli','dongfang','crown'])}
            <form class="panel panel-default channel-row" style="padding:15px" method="post" enctype="multipart/form-data" action="">
                <input type="hidden" name="code" value="{$channel.code|htmlentities}">
                <div class="row">
                    <div class="col-sm-2"><b>{$channel.code|htmlentities}</b><br><label>名称</label><input name="name" class="form-control" value="{$channel.name|htmlentities}" required></div>
                    <div class="col-sm-3"><label>滚动公告</label><textarea name="announcement" class="form-control" rows="3">{$channel.announcement|default=''|htmlentities}</textarea></div>
                    <div class="col-sm-3"><label>宣传图片URL</label><input name="image" class="form-control" value="{$channel.image|default=''|htmlentities}"><label style="margin-top:8px">或上传新图片</label><input name="image_file" type="file" class="form-control" accept="image/*">{if !empty($channel.image)}<img src="{$channel.image|htmlentities}" style="max-width:100%;max-height:100px;margin-top:8px">{/if}</div>
                    <div class="col-sm-3"><label>玩法介绍</label><textarea name="intro" class="form-control" rows="5">{$channel.intro|default=''|htmlentities}</textarea></div>
                    <div class="col-sm-1"><label><input type="checkbox" name="status" value="1" {if $channel.status==1}checked{/if}> 启用</label><button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> 保存</button></div>
                </div>
            </form>
            {/if}
            {/volist}
        </div>
    </div>
</div>
